/* GENERAL SETTINGS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* UTILITIES */

.row {
  padding-top: 23px;
  padding-bottom: 46px;
}

.float {
  float: left;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.block {
  display: block;
}

.in-block {
  display: inline-block;
}

.m-t-b10 {
  /* MARGIN TOP BOTTOM 10 */
  margin-top: 10px;
  margin-bottom: 10px;
}

.m-t-b20 {
  /* MARGIN TOP BOTTOM 10 */
  margin-top: 20px;
  margin-bottom: 20px;
}

.p-t-b30 {
  /*PADDING TOP BOTTOM 10 */
  padding-top: 30px;
  padding-bottom: 30px;
}

.p-l50 {
  padding-left: 50px;
}

.border-bottom {
  border-bottom: 1px solid #696969;
  opacity: 0.8;
}

.h100 {
  min-height: 100px;
}


/* HEADER SETTINGS */

.header-fixed {
  background: #fff;
}

#top-nav a {
  color: #000;
}

.header-fixed-img {
  width: 17%;
  margin: 7px 0 0 70px;
}

.ul-header-fix {
  list-style: none;
  font-size: 65%;
  font-weight: 600;
}

.ul-header-fix a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.ul-header-fix li {
  display: inline-block;
  padding: 5px 20px 5px;
  z-index: 2;
}

li.p-5 {
  padding: 5px;
}

li.p-5:nth-child(2) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}

#jumbotron {
  max-height: 630px;
  z-index: -100;
}

#video-header {
  position: relative;
  width: 100%;
  min-width: 100%;
  max-height: 630px;
  z-index: -100;
  overflow: hidden;
  object-fit: cover;
}

#video-header video {
  width: 100%;
  min-width: 100%;
  filter: brightness(40%);
  z-index: -100;
}

#inner-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
}

#inner-div h1 {
  font-size: 295%;
  margin-bottom: 15px;
}

#inner-div h3 {
  font-size: 90%;
  font-weight: 400;
  margin-bottom: 15px;
}

/* MAIN SETTINGS */
/* TOP MAIN */

#top-main {
  width: 100%;
  max-width: 100%;
  margin: 150px auto 0;
  text-align: center;
  color: #000;
}

#top-main img {
  width: 30%;
  max-width: 100%;
}


#top-main h2 {
  font-size: 120%;
  font-weight: 500;
  color: #000;
  padding-top: 20px;
  padding-bottom: 20px;
}

#top-main a {
  position: relative;
  font-size: 120%;
  font-weight: 500;
  color: #0070C8;
  text-decoration: none;
}

#top-main a:after {
  position: absolute;
  top: 4px;
  right: -15px;
  font-family: "Font Awesome 5 Free";
  content: '\f105';
  font-weight: 700;
  margin-left: 5px;
  text-decoration: none;
}

#top-main a:hover {
  text-decoration: underline;
}

.img-main {
  padding: 50px 0 50px;
  width: 50%;
}

/* MID MAIN */

#mid-main-jumbo {
  background: url("https://helbiz.com/asset/pages/newhome/images/HelbizBanner.jpg");
  background-size: cover;
  height: 500px;
}

/* MID-MAIN START */

#mid-main {
  text-align: center;
  min-height: 1px;
}

#mid-main-left h2 {
  font-size: 210%;
  text-align: left;
  padding-top: 70px;
  padding-left: 180px;
  width: 500px;
  color: #000;
}

#mid-main-center {
  min-height: 1px;
}

#mid-main-center img {
  position: absolute;
  top: -330px;
  left: 20%;
  width: 60%;
}

#mid-main-right h4 {
  font-size: 130%;
  font-weight: 700;
  text-align: left;
  padding-top: 70px;
  color: #000;
}

#mid-main-right span {
  font-size: 100%;
  text-align: left;
  padding-top: 10px;
  color: #000;
}

/* MID-MAIN-BOTTOM START */

#mid-main-bottom-cont {
  background: url("https://helbiz.com/asset/pages/newhome/images/ScooterHelbiz-2400.jpg");
  background-size: cover;
  height: 500px;
  margin-top: 150px;
}

#mid-main-bottom-left {
  min-height: 1px;
}

#inside-mbr {
  position: relative;
  top: 150px;
  left: 25%;
  color: #fff;
  text-align: center;
}

#mid-main-bottom-right h1 {
  font-size: 295%;
  margin-bottom: 15px;
}

#mid-main-bottom-right h2 {
  display: block;
  font-size: 120%;
  font-weight: 500;
  padding-bottom: 20px;
  width: 315px;
  margin-left: 50px;
}

#mid-main-bottom-right a {
  position: relative;
  font-size: 120%;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

#mid-main-bottom-right a:after {
  position: absolute;
  top: 4px;
  right: -15px;
  font-family: "Font Awesome 5 Free";
  content: '\f105';
  font-weight: 700;
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
}

#mid-main-bottom-right a:hover {
  text-decoration: underline;
}

/* MID-MAIN-BOTTOM2 START */

#mid-main-bottom2-cont {
  height: 500px;
}

#mid-main-bottom2-left {
  background: url("https://helbiz.com/asset/pages/newhome/images/HelbiZAPP.png") bottom no-repeat, linear-gradient(#41566a, #252f38) 50% no-repeat;
  background-size: 530px, 100%;
  margin-right: 10px;
  min-height: 600px;
  max-width: 624px;
  color: #fff;
}

#mid-main-bottom2-left h1 {
  font-size: 295%;
  margin-top: 50px;
  margin-bottom: 15px;
}

#mid-main-bottom2-left h2 {
  display: block;
  font-size: 120%;
  font-weight: 500;
  padding-bottom: 20px;
}

#mid-main-bottom2-left a {
  position: relative;
  font-size: 120%;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  padding-left: 30px;
}

#mid-main-bottom2-left a:after {
  position: absolute;
  top: 4px;
  right: -15px;
  font-family: "Font Awesome 5 Free";
  content: '\f105';
  font-weight: 700;
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
}

#mid-main-bottom2-left a:hover {
  text-decoration: underline;
}

#inside-mb2l {
  position: relative;
  color: #fff;
  text-align: center;
}

#mid-main-bottom2-right {
  background: url("https://helbiz.com/asset/pages/newhome/images/Cities-1500.jpg");
  background-size: cover;
  min-height: 600px;
  margin-left: 10px;
  max-width: 624px;
  color: #fff;
  text-align: center;
}

#mid-main-bottom2-right h1 {
  font-size: 295%;
  margin-top: 50px;
  margin-bottom: 15px;
}

#mid-main-bottom2-right h2 {
  display: block;
  font-size: 120%;
  font-weight: 500;
  padding-bottom: 20px;
}

#mid-main-bottom2-right a {
  position: relative;
  font-size: 120%;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
}

#mid-main-bottom2-right a:after {
  position: absolute;
  top: 4px;
  right: -15px;
  font-family: "Font Awesome 5 Free";
  content: '\f105';
  font-weight: 700;
  margin-left: 5px;
  color: #fff;
  text-decoration: none;
}

#mid-main-bottom2-right a:hover {
  text-decoration: underline;
}

#inside-mb2r {
  position: relative;
  color: #fff;
  text-align: center;
}

/* MAIN BOTTOM */

#main-bottom {
  background: url("https://helbiz.com/asset/pages/newhome/images/Social-Banner.jpg") 50% no-repeat;
  background-size: cover;
  height: 420px;
  margin-bottom: 40px;
  margin-top: 40px;
}

#main-bottom-inside {
  background: #fff;
  color: #000;
  text-align: center;
  height: 200px;
  margin-top: 100px;
}

#main-bottom-inside h3 {
  display: block;
  font-size: 180%;
  font-weight: 700;
  padding-bottom: 5px;
  padding-top: 60px;
}

#main-bottom-inside li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
}

#main-bottom-inside a {
  color: #000;
  margin-right: 10px;
  font-size: 170%;
}

/* FOOTER */

#footer {
  background: #000;
  color: #fff;
}

/* TOP FOOTER */

#top-footer img {
  margin-top: 75px;
}

#top-footer h4 {
  margin-top: 70px;
  margin-bottom: 30px;
}

#top-footer li {
  list-style: none;
  padding-bottom: 10px;
}

#top-footer a {
  text-decoration: none;
  color: #696969;
}

/* MID FOOTER */

#mid-footer {
  text-align: left;
  padding: 40px 0;
}

#mid-footer li {
  margin-left: 20px;
  display: inline-block;
  list-style: none;
}

#mid-footer a {
  text-decoration: none;
  color: #fff;
  padding-right: 15px;
}

#mid-footer-list a {
  font-size: 120%;
}

.a-mid-footer {
  font-size: 80%;
  font-weight: 700;
}

/* BOTTOM FOOTER */

#bottom-footer img {
  width: 28%;
}

@media screen and (min-width: 401px) and (max-width: 768px) {
  .display-none-md {
    display: none;
  }
}
